nav h4 {
  padding-right: 15px;
}

.category-imgs{
  width: 100%;
  display: flex;
  justify-content: center;
}

.category-imgs img{
  padding: 20px;

}

.featured{
  width: 100%;
  height: 150px;
  background-color: #e6e6e6;
}
.featured p {
  padding-top: 75px;
  margin-left:50%;
}

section {
  margin-bottom: 50px;
}

article img{
  width:100%;
}
.footer{
  display:block;
  background: #696969;
  width = 100%;
  padding-bottom:50px;
}
.footer div{
  background: #696969;
  color: #fff;
}

.footer a {
  color: #5bc0de;
}

.footer img{
  margin-top: 20px;
}

.footer input {
  color: black;
  margin-bottom: 5px;
}

.footer button {
  background: #5bc0de;
}

.footer button,
.footer input {
  width: 100%;
}

.footer .credits {
  margin-top: 40px;
  margin-left: 15px;
}
