<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body ng-app="app">
    <div class="" ng-controller="blogController">
      <header>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav">
                <li><h4>Shelby Cherie</h4></li>
                <li class="active"><a ng-href="#!/">Home</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Blog
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a ng-href="#!/blog/career">Career</a></li>
                    <li><a ng-href="#!/blog/lifestyle">Lifestyle</a></li>
                    <li><a ng-href="#!/blog/travel">Travel</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"></a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </header>

      <section ng-view>

      </section>

      <footer ng-controller="mailingListSignUp" class="footer">
        <div class="container">
          <div class="row col-md-10 col-md-offset-1">
            <div class="col-md-2">
              <img src="https://via.placeholder.com/125x125" alt="">
            </div>
            <div class="col-md-6">
              <h2>About me</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a ng-href="#!/about">Read More</a>
            </div>
            <div class="col-md-4">
              <h2>Join my mailing list</h2>
              <input type="email" name="email" ng-model="newSubscriber.email" placeholder="Email Address"><br>
              <button type="button" name="button" class="btn btn-primary" ng-click="signUp(newSubsciber)">Submit</button><br>
              <a ng-href="#!/list">(view mailing list)</a>
            </div>
          </div>
          <div class="row col-md-10 col-md-offset-1 ">
            <div class="credits">&#169; 2017 Shelby Cherie. Website Created by <a href="#">Derek Hawkins Design</a></div>
          </div>
        </div>

      </footer>
    </div>
  </body>
</html>
