<footer class="footer">
  <div class="container">
    <div class="row col-md-10 col-md-offset-1">
      <div class="col-md-2">
        <img src="https://via.placeholder.com/125x125" alt="">
      </div>
      <div class="col-md-6">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a ng-href="#!/about">Read More</a>
      </div>
      <div class="col-md-4">
        <h2>Join my mailing list</h2>
        <input type="email" name="email" ng-model="newSubscriber.email" placeholder="Email Address"><br>
        <button type="button" name="button" class="btn btn-primary" ng-click="signUp(newSubsciber)">Submit</button><br>
        <a ng-href="#!/list">(view mailing list)</a>
      </div>
    </div>
    <div class="row col-md-10 col-md-offset-1 ">
      <div class="credits">&#169; 2017 Shelby Cherie. Website Created by <a href="#">Derek Hawkins Design</a></div>
    </div>
  </div>
</footer>
