<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><h4>Shelby Cherie</h4></li>
          <li class="active"><a ng-href="#!/">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Blog
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ng-href="#!/blog/career">Career</a></li>
              <li><a ng-href="#!/blog/lifestyle">Lifestyle</a></li>
              <li><a ng-href="#!/blog/travel">Travel</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="camera"><a href="#"><span class="glyphicon glyphicon-camera" data-unicode="e046"></span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
